<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>

<div>
    <span><a ui-sref="main.shuo.subject.update.user({subjectId: record.id})" class="btn btn-sm btn-default"> 喜欢</a></span>
    <span><a ui-sref="main.shuo.subject.update.comments({subjectId: record.id})" class="btn btn-sm btn-default active"> 评论</a></span>
    <span><a ui-sref="main.shuo.subject.update.album({subjectId: record.id})" class="btn btn-sm btn-default"> 专辑</a></span>
</div>


<!-- 内容区域 -->
<div ng-hide="loading" class="wrapper-md ">
    <!-- 数据显示 -->
    <div class="wrapper-data">
        <div class="panel panel-default">
            <!-- 头部 -->
            <div class="panel-heading clearfix">
                <div class="w-lg">
                    <form ng-submit="search()" class="ng-pristine ng-valid">
                        <div class="input-group search-box">
                            <input type="text" class="form-control" ng-model="param.keyword" placeholder="评论内容">
                            <i ng-show="user.keyword" ng-click="clearSearch()" class="fa fa-times-circle text-muted search-clear"></i>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 数据表格 -->
            <div class="table-responsive">
                <table class="table table-striped b-t b-light text-center">
                    <thead>
                    <tr>
                        <th>评论内容</th>
                        <th>发表用户</th>
                        <th>回复用户</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in pageInfo.records">
                        <td class="v-middle">{{item.content}}</td>
                        <td class="v-middle">{{item.replyUser.name}}</td>
                        <td class="v-middle">{{item.beReplyUser.name}}</td>
                        <td class="v-middle">
                            <a ui-sref="main.sys.menu.update({id: item.id})" class="btn btn-sm btn-default">
                                <i class="fa fa-edit m-r-xs text-sm"></i>编辑</a>
                            <button type="button" ng-show="item.usable==1"  ng-click="disableItem(item.id,0)" class="btn btn-sm btn-default m-l-xs">
                                <i class="fa fa-ban m-r-xs text-sm"></i>删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->

            <!-- 底部分页 -->
            <span data-ng-include=" 'src/tpl/pageInfo.html' "></span>
        </div><!-- /.panel -->
    </div><!-- /.wrapper-data -->

</div><!-- /.wrapper-md -->