<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
	<ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
		<li><a ui-href="main"><i class="fa fa-home"></i> 首页</a></li>
		<li class="active" ng-bind="title"></li>
	</ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>

<!-- 内容区域 -->
<div ng-hide="loading" class="wrapper-md content">
	<!-- 数据显示 -->
	<div class="wrapper-data">
		<div class="panel panel-default">
			<!-- 头部 -->
			<div class="panel-heading clearfix">
				<div class="w-lg">
					<form ng-submit="search()" class="ng-pristine ng-valid">
						<div class="input-group search-box">
							<input type="text" class="form-control" ng-model="param.keyword" placeholder="内容">
							<i ng-show="user.keyword" ng-click="clearSearch()" class="fa fa-times-circle text-muted search-clear"></i>
							<span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
						</div>
					</form>
				</div>
				<button type="button" ng-click="searchNew()" class="btn btn-sm btn-default m-l-xs">最新</button>
				<button type="button" ng-click="searchHot()" class="btn btn-sm btn-default m-l-xs">热门</button>
			</div>

			<!-- 数据表格 -->
			<div class="table-responsive">
				<table class="table table-striped b-t b-light text-center">
					<thead>
					<tr>
						<th>封面</th>
						<th>内容</th>
						<th>发布用户</th>
						<th>浏览数</th>
						<th>评论数</th>
						<th>喜欢数</th>
						<th>是否热门</th>
						<th>创建时间</th>
						<th>状态</th>
						<th>&nbsp;</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in pageInfo.records">
						<td><a ui-sref="main.shuo.subject.update({id: item.id})"><img width="50" class="thumb-lg" ng-src="{{item.cover || defaultAvatar}}"  alt="{{item.content}}" /></a></td>
						<td class="v-middle" style="width: 10%"><span style="width:200px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"><a ui-sref="main.shuo.subject.update({id: item.id})" alt="{{item.content}}">{{item.content}}</a></span></td>
						<td class="v-middle">{{item.user.name}}</td>
						<td class="v-middle">{{item.viewNum}}</td>
						<td class="v-middle"><a ui-sref="main.bq.sub.update({id: item.id})">{{item.commentsNum}}</a></td>
						<td class="v-middle">{{item.likedNum}}</td>
						<td class="v-middle">
							<span ng-hide="item.isHot=='true'" class="text-success"><a ng-click="updateHot(item.id,1)">否</a></span>
							<span ng-show="item.isHot=='true'" class="text-danger"><a ng-click="updateHot(item.id,0)">是</a></span>
						</td>
						<td class="v-middle">{{item.createTime}}</td>
						<td class="v-middle">
							<span ng-hide="item.enable=='true'" class="text-danger">禁用</span>
							<span ng-show="item.enable=='true'" class="text-success">启用</span>
						</td>
						<td class="v-middle">
							<a ui-sref="main.shuo.subject.update({id: item.id})" class="btn btn-sm btn-default">
								<i class="fa fa-edit m-r-xs text-sm"></i>查看</a>
							<button type="button" ng-show="item.enable=='true'"  ng-click="disableItem(item.id,1)" class="btn btn-sm btn-default m-l-xs">
								<i class="fa fa-ban m-r-xs text-sm"></i>启用</button>
							<button type="button" ng-hide="item.enable=='true'"  ng-click="disableItem(item.id,0)" class="btn btn-sm btn-default m-l-xs">
								<i class="fa fa-check m-r-xs text-sm"></i>禁用</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div><!-- /.table-responsive -->

			<!-- 底部分页 -->
			<span data-ng-include=" 'src/tpl/pageInfo.html' "></span>
		</div><!-- /.panel -->
	</div><!-- /.wrapper-data -->

</div><!-- /.wrapper-md -->