<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bq.shuo.mapper.MaterialHotMapper">



	<select id="selectIdPage" resultType="java.lang.String">
		select id_ from bq_material_hot
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or value_ like CONCAT('%',#{cm.keyword},'%')
					or sort_ like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>

	<select id="selectByLibaryId" resultType="java.lang.String">
		SELECT id_ FROM bq_layer WHERE library_id = #{libraryId};
	</select>
</mapper>
