<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bq.shuo.mapper.MaterialMapper">



	<select id="selectIdPage" resultType="java.lang.String">
		SELECT id_ FROM bq_material
		<where>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.categoryId != null and cm.categoryId != ''">
				and category_id = #{cm.categoryId}
			</if>
			<if test="cm.isCover != null and cm.isCover != ''">
				and is_cover = #{cm.isCover}
			</if>
		</where>
		ORDER BY create_time DESC
	</select>
</mapper>
