<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bq.shuo.mapper.MaterialMapper">



	<select id="selectIdPage" resultType="java.lang.String">
		SELECT id_ FROM bq_material
		<where>
			<if test="cm.categoryId != null and cm.categoryId != ''">
				and category_id = #{cm.categoryId}
			</if>
			<if test="cm.audit != null and cm.audit != ''">
				<choose>
					<when test='cm.audit.toString() == "under".toString() '>
						and audit_ != 2
					</when>
					<otherwise>
						and audit_ = #{cm.audit}
					</otherwise>
				</choose>
			</if>
		</where>
		ORDER BY create_time DESC
	</select>
</mapper>
