<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bq.shuo.mapper.TagMapper">



	<select id="selectIdPage" resultType="java.lang.String">
		SELECT id_ FROM bq_tag
		<where>
			AND  enable_ = 1
			<if test="cm.blankNew != null and cm.blankNew != ''">
				and ISNULL(code_) OR code_ = 1
			</if>
			<if test="cm.code != null and cm.code != ''">
				and code_ = #{cm.code}
			</if>
			<if test="cm.name != null and cm.name != ''">
				and name_ = #{cm.name}
			</if>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.remark != null and cm.remark != ''">
				and remark_ = #{cm.remark}
			</if>
			<if test="cm.createTime != null and cm.createTime != ''">
				and create_time = #{cm.createTime}
			</if>
			<if test="cm.updateTime != null and cm.updateTime != ''">
				and update_time = #{cm.updateTime}
			</if>
			<if test="cm.keyword != null">
				and (code_ like CONCAT('%',#{cm.keyword},'%') or name_ like CONCAT('%',#{cm.keyword},'%')
			</if>
		</where>
		ORDER BY sort_ ASC
	</select>
</mapper>
