<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bq.shuo.mapper.TopicsMapper">



	<select id="selectIdPage" resultType="java.lang.String">
		SELECT id_ FROM bq_topics
		<where>
			<if test="cm.enable != null">
				AND enable_ = #{cm.enable}
			</if>
			<if test="cm.audit != null  and cm.audit != ''">
				AND audit_ = #{cm.audit}
			</if>
			<if test="cm.orderType != null and cm.orderType.equals('HOT')">
				AND is_hot = 1
			</if>
			<if test="cm.orderType != null and cm.orderType.equals('NEW')">
				AND is_hot = 0
			</if>
			<if test="cm.ownerId != null and cm.ownerId != ''">
				AND owner_id = #{cm.ownerId}
			</if>
			<if test="cm.name != null and cm.name != ''">
				AND name_ = #{cm.name}
			</if>
			<if test="cm.summary != null and cm.summary != ''">
				AND summary_ = #{cm.summary}
			</if>
			<if test="cm.nameKeyword != null and cm.nameKeyword != ''">
				AND (name_ like CONCAT('%',#{cm.nameKeyword},'%'))
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				AND (name_ like CONCAT('%',#{cm.keyword},'%') or summary_ like CONCAT('%',#{cm.keyword},'%'))
			</if>
		</where>
		ORDER BY
		<choose>
			<when test='cm.orderType != null and cm.orderType.equals("HOT")'>
				hot_time DESC,view_num DESC,id_ DESC
			</when>
			<otherwise>
				hot_time DESC,id_ DESC
			</otherwise>
		</choose>
	</select>
	<select id="queryByHot" resultType="java.lang.String">
		SELECT id_ FROM bq_topics WHERE enable_ = 1 AND audit_ = '2' AND is_hot = 1 LIMIT 2
	</select>
	<select id="queryByHotCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM bq_topics WHERE enable_ = 1 AND audit_ = '2'
	</select>
	<select id="queryBeanByKeyword" resultType="java.lang.String">
		SELECT id_ FROM bq_topics WHERE enable_ = 1 AND name_ = #{keyword}
	</select>
    <select id="selectIdByName" resultType="java.lang.String">
		SELECT id_ FROM bq_topics WHERE name_ = #{name}
	</select>
	<select id="queryByTag" resultType="java.lang.String">
		SELECT id_ FROM bq_topics WHERE enable_ = 1 AND tags_ LIKE CONCAT('%',#{tags},'%') ORDER BY update_time DESC LIMIT 10
	</select>
</mapper>
