<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bq.shuo.mapper.TopicsReviewMapper">

	<select id="selectIdPage" resultType="java.lang.String">
		select id_ from bq_topics_review
		<where>
			<if test="cm.topicId != null and cm.topicId != ''">
				and topic_id = #{cm.topicId}
			</if>
			<if test="cm.name != null and cm.name != ''">
				and name_ = #{cm.name}
			</if>
			<if test="cm.userId != null and cm.userId != ''">
				and user_id = #{cm.userId}
			</if>
			<if test="cm.audit != null and cm.audit != ''">
				and audit_ = #{cm.audit}
			</if>
			<if test="cm.auditUserId != null and cm.auditUserId != ''">
				and audit_user_id = #{cm.auditUserId}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and name_ like CONCAT('%',#{cm.keyword},'%') or summary_ like CONCAT('%',#{cm.keyword},'%')
			</if>
		</where>
		order by create_time desc,update_time desc
	</select>
	<select id="selectIdByGroupTopic" resultType="java.lang.String">
		select id_ from bq_topics_review
		<where>
			<if test="cm.topicId != null and cm.topicId != ''">
				and topic_id = #{cm.topicId}
			</if>
			<if test="cm.name != null and cm.name != ''">
				and name_ = #{cm.name}
			</if>
			<if test="cm.userId != null and cm.userId != ''">
				and user_id = #{cm.userId}
			</if>
			<if test="cm.audit != null and cm.audit != ''">
				and audit_ = #{cm.audit}
			</if>
			<if test="cm.auditUserId != null and cm.auditUserId != ''">
				and audit_user_id = #{cm.auditUserId}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and name_ like CONCAT('%',#{cm.keyword},'%') or summary_ like CONCAT('%',#{cm.keyword},'%')
			</if>
		</where>
		group by topic_id
		order by create_time desc,update_time desc
	</select>
</mapper>
