<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bq.shuo.mapper.UserContactsMapper">



	<select id="selectIdPage" resultType="java.lang.String">
		SELECT id_ FROM bq_user_contacts
		<where>
			<if test="cm.contactUserIdNotIsNull != null and cm.contactUserIdNotIsNull == true">
				and not isnull(contact_user_id)
			</if>
			<if test="cm.contactUserIdNotIsNull != null and cm.contactUserIdNotIsNull == false">
				and isnull(contact_user_id)
			</if>
			<if test="cm.deviceId != null and cm.deviceId != ''">
				and device_id = #{cm.deviceId}
			</if>
			<if test="cm.userId != null and cm.userId != ''">
				and user_id = #{cm.userId}
			</if>
			<if test="cm.phone != null and cm.phone != ''">
				and phone_ = #{cm.phone}
			</if>
		</where>
		ORDER BY name_ ASC,create_time DESC
	</select>

	<select id="selectIdPageByFollow" resultType="java.lang.String">
		SELECT A.id_ FROM bq_user_contacts A
		LEFT JOIN bq_user_following B ON A.user_id = B.follow_user_id AND A.contact_user_id = B.befollow_user_id
		<where>
			<if test="cm.unregistered != null and cm.unregistered != ''">/*未注册*/
				ISNULL(contact_user_id)
			</if>
			<if test="cm.follow != null and cm.follow == true">/*已关注*/
				NOT ISNULL(A.contact_user_id) AND NOT ISNULL(B.id_)
			</if>
			<if test="cm.follow != null and cm.follow == false">/*未关注*/
				NOT ISNULL(A.contact_user_id) AND ISNULL(B.id_)
			</if>
			<if test="cm.deviceId != null and cm.deviceId != ''">
				AND A.device_id = #{cm.deviceId}
			</if>
			<if test="cm.userId != null and cm.userId != ''">
				AND A.user_id = #{cm.userId}
			</if>
		</where>
		ORDER BY A.name_ DESC,A.create_time DESC
	</select>
    <select id="selectByPhone" resultType="java.lang.String">
		SELECT  id_ FROM bq_user_contacts WHERE device_id = #{deviceId} AND user_id = #{userId} AND phone_ = #{phone}
	</select>
</mapper>
